
#blue{
    color:#375df6;
    font-size: 23px;
    font-weight: 500;
}
#col1{
    padding-left: 1cm;
    width: 100%;
}
#col2{
    padding-top: 5px; 
    padding-left: 3cm;
}
#green{
    color:#02a102;
    font-size: 23px;
    font-weight: 500;
}
#red{
   color:#fe2525;
   font-size: 23px;
   font-weight: 500;
}
#yellow{
    color: #fae92a;
    font-size: 23px;
    font-weight: 500;
}
#tr{
    font-size: 23px;
    overflow-wrap: break-word;
}

header:before {
    background: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,.12);
    content: "";
    display: block;
    height: 162px;
    overflow: hidden;
    width: 100%;
   
    position: absolute;
    top: 0;
    left: 0;
     z-index: -1;
}
header > div {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.12);
} 