@media only screen and (max-width: 890px) {
    /* For mobile phones: */
    [class*="col pt-2 border-start"] {
      width: 100%;
      overflow: visible;
    }
    #rightct{
      border-radius: 0.2cm;
    }
    #leftct{
        border-radius: 0.2cm;
      }
    #line2{
        justify-content: center;
      }
    /*footer{
        display: none;
    }*/
    footer > nav{
        width:auto;
    }
  }
/*class*/
.btn{
    border-color: rgb(211, 210, 209);
    border-width: 1px;
    justify-content: center;
}
.btn:hover{
    background-color: rgba(226, 223, 223, 0.82);
}
button:active{
    background-color: lightskyblue;
}
button.btn.p-10{
    float: left;
    overflow: hidden;
}
.dropdown-toggle{
    color: gray;
}
footer{
    font-size: large; 
    justify-content: center;
    position: relative; 
}
.nav-nav-tabs{
    border-bottom: 10px;
}
.nav-link-border{
    border-radius: 50%;
    border-color:grey;
}
.nav{
    flex-wrap: wrap;
}
.text-muted{
    font-size: 17px;
}
.text{
    color: #4287f5;
    padding-bottom: 5px;
}
/*id*/
#bigc{
    height: 100px;
    z-index: -1;
}
#bg{
    height: 53px;
    padding:10px;
}
#charcnt{
    margin-top: 5px;
    padding-left: 350px;
    text-align: end;
}
#cnt1{
    float: inline-start; 
    height: 140px;
    width: 100%;
}
#cnt2{
    float: inline-end;
    height: 140px;
    width:100%;
}

#contrib{
    border-radius:50%;
    font-size:35px;
    height: fit-content; 
    width:fit-content;
}
#history{
    border-radius:50%;
    font-size:35px;
    height: fit-content;
    width:fit-content;
}
#kbrd{
    height:30px; 
    padding-bottom: 5px;
}
#leftct{
    border: gray;
    border-right:2px;
    border-bottom-left-radius: 0.2cm;
    border-top-left-radius: 0.2cm;
    background-color: white;
    float: left;
    height: 15em;
    height: 15em; 
    max-width: 50%;
    min-width: fit-content;
    min-height: fit-content; 
    width: 1em;
    width: 1300px;
}   
#line{
    height: 265px;
}
#line2{
    overflow: hidden;  
    width: 100%;
}
#micpic{
    height:50px;
}
#midnav{
    color: #4287f5;
    font-size: 17px;
}
#navt{
    height:55px; 
    overflow: hidden;
    text-align: end;
    width:100%; 
}
#rightct{
    background-color: white;
    border-left: 2px;
    border: gray;
    border-top-right-radius: 0.2cm;
    border-bottom-right-radius: 0.2cm;
    float: right;
    height: 15em;
    max-width: 50%;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    width: 1em;
    width: 1300px;
}
#saved{
    border-radius:50%;
    font-size:35px;
    height: fit-content;
    width:fit-content;
}
#txt{
    font-size: 16px;
    font-weight:500;
}
#txta1{
   border: transparent; 
   font-size: 30px;
   height:100px; 
   max-width: inherit;
   overflow: auto;
   resize: none;
   width: 35rem;
}
#txta2{
    border: transparent; 
    font-size: 30px;
    height:100px; 
    max-width: inherit;
    overflow: auto;   
    resize: none;
    width: 35rem;
}
#wordcnt{
    margin-top: 5px;
    padding-left: 350px;
    text-align: end;
}

